#container_dinners {
    background-image: url(img/Background.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#percentage {
    background: rgba(0, 0, 0, 0.4)
}

.chart{
    width: 30em;
    min-height: 300px;
}